---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import PorfolioPreview from '../components/PortfolioPreview/index.jsx';
import { Markdown } from 'astro/components';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/*.md');


---
<html lang="en">
  <head>
    <MainHead title="Matias Bojko | Portafolio" />
    <style lang="scss">
     .hero{
       margin-left: 10%;
     }
     .title {
       font-size: var(--f-u10);
     }
     .subtitle {
       font-size: var(--f-u4);
       margin-left: 25%;
     }
     .description {
       margin-top: 5%;
       margin-left: 5%;
       line-height: 2.5rem;
     }
     .md {
       margin-top: 10%;
       margin-left: 5%;
       margin-right: 5%;
       display: flex;
       justify-content: space-between;
       line-height: 2.5rem;
       @media (max-width: 960px){
         flex-direction: column;
       }
     }
     .md-section {
       width: 45%;
       @media (max-width: 960px){
          width: 100%;
       }
     }
     .grid {
       display: grid;
       width: 100%;
       grid-template-columns: 1fr 1fr;
       margin-top: 1rem;
       gap: 1rem;
     }
  
     
    
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <div class="title">Mati&#769;as Bojko</div>
      <div class="subtitle">Software Engineer</div>
    </header>
    <main class="wrapper mt4 mb4">
    <div class="description">
     <Markdown>
         I'm 24 years old, currently living in Argentina.    
         Don't know what to do with my life so I'm doing this, at least the only thing I enjoy in this life.  Hope I don't Kermit 🐸. 
         
         I like to drink mate 🧉 (*typical argentian beverage*) while coding 💻.
            
      </Markdown>
    </div>
      <div class="md">
        <div class="md-section">
          <Markdown>
          ### Education
          ---
          *2017 - 2021* 
          > **Software Engineering** - *Universidad Adventista del Plata*
          
          ### Expirience
          ---
          *Dec 2020 - Mar 2021* 
          > **Interniship** - *Asociacion Casa Editora Sudamericana*   
          *Mar 2021 - Current* 
          > **Full Stack Web Developer** - *Freelance* 
          </Markdown>
        </div>
        <div class="md-section">
          <Markdown>
          ### Skills
          ---
          </Markdown>
          <div class="grid">
            <div>JavaScript</div>
            <progress value="87" max="100" />
            <div>Vue</div>
            <progress value="85" max="100" />
            <div>React</div>
            <progress value="78" max="100"/>
            <div>Python</div>
            <progress value="78" max="100"/>
            <div>C#</div>
            <progress value="78" max="100"/>
            <div>SQL</div>
            <progress value="64" max="100" />
            <div>NO SQL</div>
            <progress value="76" max="100" />
          </div>       
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
