---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import PorfolioPreview from '../components/PortfolioPreview/index.jsx';
import { Markdown } from 'astro/components';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/*.md');


---
<html lang="en">
  <head>
    <MainHead title="Matias Bojko | Portafolio" />
    <style lang="scss">
     .hero{
       margin-left: 10%;
     }
     .title {
       font-size: var(--f-u11);
     }
     .subtitle {
       font-size: var(--f-u4);
       margin-left: 25%;
     }
     .inner {
       margin-left: 2rem;
     }
     .md {
       margin-top: 5rem;
       margin-left: 5rem;
       margin-right: 5rem;
       display: flex;
       justify-content: space-between;
       line-height: 3rem;
     }
     .md-section {
       width: 50%;
     }
     .skills {
       display: grid;
       width: 90%;
       grid-template-columns: 1fr 1fr;
       margin-top: 1rem;
       margin-left: 10%;
     }
  
     
    
    </style>
  </head>
  <body>
    <Nav />
    <header class="hero">
      <div class="title">Mati&#769;as Bojko</div>
      <div class="subtitle">Software Engineer</div>
    </header>
    <main class="wrapper mt4 mb4">
      <div class="md">
        <div class="md-section">
          <Markdown>
          ### Education
          ---
          2019 - Sape
          <br>
          
          ### Expirience
          ---
          I was born and raised in Argentina
          </Markdown>
        </div>
        <div class="md-section">
          <Markdown>
          ### Skills
          ---
          </Markdown>
          <div class="skills">
            <div>JavaScript</div>
            <progress value="87" max="100" />

            <div>Vue</div>
            <progress value="85" max="100" />
            <div>React</div>
            <progress value="78" max="100"/>
            <div>Fauna DB</div>
            <progress value="34" max="100" />
          </div>       
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
